.a6-section {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-bottom: 60px;
  width: 100%;
}

.a6-header {
  margin-top: 10rem;
  font-size: 6rem;
  color: #fdcf0b;
  font-weight: 600;
  text-align: center;
}

.a6-subheader {
  margin-top: -0.5rem;
  font-size: 1.5rem;
  text-align: center;
}

.a6-flex {
  margin-top: -60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 60px;
}

.a6-about {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin-top: 80px;
}

.profile1 {
  height: 500px;
}

.team-slider {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-image: linear-gradient(to left, #fdcf0b, #fae278);
}

.head-subinfo {
  font-size: 2rem;
  font-weight: 600;
}

.about-head {
  margin-block: 15px;
  font-size: 1.2rem;
}

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.container23 {
  margin-top: 3rem;
  width: 25rem;
  margin: 6rem auto;
}

.slide23 img {
  margin-top: 4rem;
  width: 24rem;
  height: 29rem;
}

.slide23 {
  object-fit: contain;
  transition: transform 300ms;
}

.arrow-a6 {
  /* border-radius: 50%; */
  padding: 0.5rem;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.next-a6 {
  right: -20%;
  top: 47%;
}

.prev-a6 {
  left: -15%;
  top: 47%;
  transform: rotate(180deg);
}

.head-info {
  margin-top: -3rem;
  font-size: 2.4rem;
  font-weight: 600;
  margin-left: 4.2rem;
}

.head-subinfo {
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 6.2rem;
}

.f-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.team-profile > .profile_img_11 {
  width: 7rem;
  height: 7rem;
  margin-left: 1.5rem;
  margin-bottom: 14rem;
}

.profiles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team-profile {
  z-index: 1;
  text-align: center;
  padding: 40px;
  border: 1px black;
  box-shadow: 1px 1px 10px rgb(228, 226, 226);
  border-radius: 20px;
}

.profileimg {
  width: 90px;
}

.profile-info-12 {
  margin-inline: 0.2rem;
  width: 10rem;
  margin-top: -10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.name {
  color: #000;
  font-family: Cambria;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.position {
  color: rgba(9, 9, 9, 0.71);
  margin-top: -1rem;
  font-size: 0.875rem;
  font-weight: 700;
}

.slide45 {
  object-fit: contain;
  transition: transform 300ms;
  height: 23rem;
}

.bottom_img_01 {
  top: 9.2rem;
  width: 15.5rem;
  height: 3.5625rem;
  position: absolute;
}

.img_11 {
  width: 4.0625rem;
  height: 1.875rem;
  position: absolute;
  top: 1.4rem;
  margin-left: -9rem;
}

.img_22 {
  width: 4.0625rem;
  height: 1.875rem;
  position: absolute;
  top: 7rem;
  margin-left: 8rem;
}
