.a3-back {
  background-color: #d9daff;
  margin-block: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 900px;
}

.a3-content {
  font-weight: 700;
  font-size: 1.2rem;
}
