/* .s-container {
  padding-block: 30px;
  background-image: url("../../assets/images/hpback.png");
  background-color: rgb(253, 207, 11, 0.9);
  background-repeat: repeat repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
} */

/* // Header // */

/* .p-head {
  display: flex;
  text-align: center;
  justify-content: center;
}
.p-header {
  width: 80%;
  color: black;
  margin-block: 50px 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 600;
  background-color: white;
  border-radius: 40px;
  padding-block: 8px;
}

.pay {
  display: flex;
  text-align: center;
  justify-content: center;
}

.p-details {
  padding-block: 20px;
  width: 60%;

  border-radius: 20px;
  padding-top: 1px;
  background-color: white;
  box-shadow: 2px 2px 30px rgb(69, 69, 109);
}

.p-form {
  padding-left: 30px;
  display: grid;
  grid-template-columns: repeat(
    2,
    1fr
  );
}

.p-subdetails {
  margin-block: 10px;
  font-size: 1.5rem;
}

.p-subdetails > input {
  padding: 6px;
}

input[type="radio"] {
  width: 15px;
  height: 15px;
  margin-left: 70px;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
} */

/* // Form    */

.login_page1 {
  width: 500px;
  height: 730px;
  border-radius: 40px;
  padding-top: 1px;
  /* border: 1px solid rgb(102, 102, 162); */
  box-shadow: 2px 2px 30px rgb(69, 69, 109);
}

._form11 {
  display: none;
}

.payment-method {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.pay-text {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.payment-options {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-top: 0.19rem;
}
.payment-option label {
  margin-left: 10px;
}

.p-btn {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.p-btn button {
  padding: 13px 90px;
  font-size: 1.1rem;
  color: white;
  background-color: rgb(59, 59, 105);
  border-radius: 25px;
  border: none;
  cursor: pointer;
}
