.q-section2 {
  width: 100%;
  height: 44.5375rem;
}
.q-container {
  width: 100%;
  background-image: url("../../assets/images/bg.png");
  height: 44.5375rem;
  background-repeat: repeat repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.q-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.q-details {
  width: 38.0625rem;
  height: 21.75rem;
  background-image: url("../../assets/images/leaf_yellow.png");
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 1.96rem;
}

.q-image {
  width: 20.5rem;
  height: 20.5rem;
}

.q-details-text {
  margin-top: 2rem;
  color: #000;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.q-details-sub-subtext {
  font-size: 1.2rem;
  margin-top: 1.49rem;
  color: #000;
  width: 32.97975rem;
  height: 6.88894rem;
}

/* // slider //   */

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.quality-carousel-container {
  margin-top: 2.37rem;
  width: 70%;
  margin: 5rem auto;
}

.quality-slide {
  transform: scale(1);
  transition: transform 300ms;
  height: 350px;
}
.subq-arrow {
  background-color: #fdcf0b;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  padding: 1rem;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  padding-inline: 0.75rem;
  padding-block: 0.7rem;
}

.quality-nexts {
  right: -10%;
  top: 43%;
}

.quality-prevs {
  left: -10%;
  top: 43%;
}

@media (min-width: 1680px) {
  /* //slider  */

  .quality-slide {
    height: 25rem;
  }
  .subq-arrow {
    width: 3rem;
    height: 3rem;
    padding-inline: 0.9rem;
    padding-block: 1rem;
  }

  .quality-nexts {
    top: 45%;
  }

  .quality-prevs {
    top: 45%;
  }

  /* //content   */
  .q-section2 {
    height: 54rem;
  }

  .q-container {
    height: 54rem;
  }

  .q-details {
    height: 24.75rem;
  }

  .q-details-text {
    font-size: 4.0625rem;
  }

  .q-details-subtext {
    font-size: 1.3rem;
    width: 12.30456rem;
    height: 1.4365rem;
  }

  .q-details-sub-subtext {
    font-size: 1.4rem;
    width: 33.97975rem;
    height: 9.88894rem;
  }
}
