.s-about4 {
  width: 100%;
}

/* header */

.a2-section {
  margin: 40px 20px;
}

.a2-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 350px;
}

.a2-logo {
  width: 250px;
  height: 80px;
}

.a2-nav-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.a2-nav-link {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
}

/* // */
.a4-section1 {
  margin-block: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  gap: 10px;
}

.a4-info1 {
  height: 20rem;
  margin-right: 40px;
}
.a4-info2 {
  height: 20rem;
}

.a4-sub-title1 {
  margin-block: 10px;
  font-weight: 500;
  font-size: 1.6rem;
}

.a4-main-title1 {
  margin-block-start: 10px;
  font-size: 3.2rem;
  font-weight: 700;
}

.main4-subtitle1 {
  font-size: 2rem;
}

.a4-sub-text1 {
  height: 28rem;
  width: 40rem;
  margin-block: 30px;
  font-weight: 500;
  font-size: 1rem;
  text-align: justify;
}

.a4-sub-text2 {
  height: 28rem;
  width: 40rem;
  margin-block: 30px;
  font-weight: 500;
  font-size: 1rem;
  text-align: justify;
}

.a4-button1 {
  margin-top: 30px;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: rgb(244, 162, 10);
}

.a4-img1 {
  width: 550px;
  object-fit: contain;
}

.dal4_img1 {
  width: 580px;
  height: 350px;
  /* left: 40px; */
}

.a4-section2 {
  /* margin-left: 0px; */
  margin-block: 3.5rem 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  gap: 100px;
}

/* // media   */

@media (min-width: 1680px) {
  .a4-info1,
  .a4-info2 {
    height: 32rem;
  }

  .a4-section2 {
    margin-top: 100px;
    gap: 180px;
  }

  .a4-sub-title1 {
    font-size: 2.5rem;
  }

  .a4-main-title1 {
    font-size: 3.7rem;
  }

  .main4-subtitle1 {
    font-size: 2.5rem;
  }

  .a4-sub-text1 {
    width: 54.5rem;
    font-size: 1.6rem;
  }

  .a4-sub-text2 {
    width: 50rem;
    font-size: 1.6rem;
  }

  .dal4_img1 {
    width: 730px;
    height: 460px;
  }
}
