/* products */

.product-container {
  margin-top: 2.37rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4.75rem;
  margin-top: 5rem;
}
.pr-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.img-29 > .product-img {
  width: 15rem;
  height: 19rem;
  margin: 0 auto;
}

.sub1-slide {
  transform: scale(1);
  transition: transform 300ms;
  height: 400px;
}

.arrow {
  background-color: #fdcf0b;
  border-radius: 25%;
  padding: 1rem;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.nextp {
  right: -10%;
  top: 30%;
}

.prevp {
  left: -10%;
  top: 30%;
}

.sub1-cart-content {
  margin-top: 30px;
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 5px;
}

.product-name {
  font-weight: 600;
  font-size: 1.5rem;
}

.p-subtext {
  font-size: 1.2rem;
}

.sub1-cart-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.img-29 {
  border-radius: 0.375rem;
  width: 14.5rem;
  height: 19.0625rem;
  margin: auto;
}
