.container-style {
  width: 100%;
  height: 45rem;
  position: relative;
  overflow-x: hidden;
}

.nav-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13rem;
  top: 5.4rem;
  left: 32rem;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.nav-link {
  color: #313131;
  font-size: 1.3rem;
  font-weight: 700;
  text-decoration: none;
}

.btn {
  font-size: 1.1rem;
  font-weight: 700;
  border: none;
  border-radius: 20px;
  padding: 8px 25px;
  text-align: center;
  background-color: #fdcf0b;
}

.carousel-boult {
  position: absolute;
  top: 97%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-boult span {
  width: 15px;
  height: 12px;
  background-color: rgb(255, 237, 237);
  margin-left: 10px;
  border-radius: 10px;
  cursor: pointer;
}

/* @media (min-width: 1325px) {
  .nav-container {
    top: 4.7rem;
    left: 33rem;
  }
} */

@media (min-width: 1680px) {
  .container-style {
    height: 55rem;
  }
  .nav-container {
    top: 6.8rem;
    left: 37rem;
  }
  .nav-link {
    font-size: 1.5rem;
  }
  .btn {
    font-size: 1.3rem;
  }
}
