/* header */

.a2-section {
  margin: 40px 20px;
}

.a2-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 350px;
}

.a2-logo {
  width: 250px;
  height: 80px;
}

.a2-nav-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.a2-nav-link {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
}

/* sub-header */

.a3-back {
  background-color: #d9daff;
  margin-block: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 900px;
}

.a3-content {
  font-weight: 700;
  font-size: 1.2rem;
}

/* products */

.sp-container {
  margin-bottom: 90px;
}

.p-container {
  margin: 40px 50px;
  padding: 15px 60px;
  background-color: #fdcf0b;
  border-radius: 10px;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 500;
  background-color: #d9cd94;
  padding: 13px;
  border-radius: 20px;
}

.p-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}

.sorting {
  background-color: #d9cd94;
  padding: 13px;
  border-radius: 20px;
  width: 250px;
}

.cart-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  gap: 5px;
  font-weight: 600;
}

.order-btn {
  margin-top: 20px;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 8px 15px;
  border: none;
  background-color: #fdcf0b;
  color: black;
  border-radius: 20px;
  cursor: pointer;
}

/* Carousel */

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.title {
  text-align: center;
  font-size: 5rem;
  color: #fdcf0b;
}

.container {
  width: 60%;
  margin: 5rem auto;
}

.slide > .s_img {
  width: 13rem;
  height: 17rem;
  margin: 0 auto;
}

.slide {
  transform: scale(1);
  transition: transform 300ms;
  height: 500px;
}

/* .activeSlide {
  transform: scale(1);
  opacity: 1;
} */

.arrow {
  background-color: #fdcf0b;
  border-radius: 25%;
  padding: 1rem;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

/* .arrow svg {
  transition: color 300ms;
} */

.nexts {
  right: -10%;
  top: 35%;
}

.prevs {
  left: -10%;
  top: 35%;
}

.cart-content {
  /* height: 6rem; */
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.p-name {
  font-weight: 600;
  font-size: 2rem;
}

.p-subtext {
  font-size: 1.2rem;
}

.img_32 {
  background-color: #ffd3d3;
  width: 500px;
  height: 700px;
  padding: 1rem 2rem;
}
